<!DOCTYPE HTML>
<html>
  <head>
    <title>Update Active Directory</title>
    <style>
      * { -mox-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

      body {
        margin: 0;
        border: 0;
        padding: 0;
        outline: 0;
      }


      header {
        position: relative;
        width: 100%;
        height: 157px;
        z-index: 100;

        margin-bottom: 40px;

        background-image: url(img/header_bg.gif);

        -moz-box-shadow: 0px 0px 12px #000000;
        -webkit-box-shadow: 0px 0px 12px #000000;
        box-shadow: 0px 0px 12px #000000;
      }

      div#container {
        margin: auto;
        width: 500px;
        position: relative;
      }

      .alert-error {
        background-color: #F2DEDE;
        border-color: #EED3D7;
        color: #B94A48;
      }

      .alert-ok {
        background-color: #DFF0D8;
        border-color: #D6E9C6;
        color: #468847;
      }

      .alert {
        width: 100%;
        border-style: solid;
        border-width: 2px;
        margin: auto;
        padding: 5px;

        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>

    <header></header>
    <div id="container">

      {% block flash %}
      {% if flash is defined %}
      <div class="alert alert-{{ flash.type }}">
        <strong>{{ flash.short }}</strong><br/> {{ flash.ext }}
      </div>
      {% endif %}
      {% endblock flash %}


      {% block content %}{% endblock %}
    </div>
  </body>
</html>
