{% extends layout %}

{% block content %}
<p>Please enter the MSU NetID that you would like to import into the Computer
Labs Active Directory. </p>

<form method="POST" action="create">
  <input type="text" name="netid" />
  <input type="submit" value="Add NetID" />
</form>

<p>Contact <a href="mailto:atomaka@msu.edu">Andrew Tomaka</a> or 
<a href="mailto:abouels3@msu.edu">Sherief AbouElSeoud</a> if you have issues
with this tool.</p>
{% endblock %}
